body {
    font-family: 'Roboto', sans-serif;
    color: #003E52; 
    width: 100%;   
    margin: 0;
}

footer {
    background-color: #003e52;
    color: white;
    height: 200px;
    width: 100%;
    display: flex;
}

header {
    font-size: 20px;
    width: 100%;
}

header .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about {
    margin: 0 300px;
    display: flex;
}

.background-img {
    background-color: white;
    max-width: 30%;
    margin: 0 5%;
    align-self: flex-end;
    -webkit-transform: rotate(-40deg);
    opacity: 0.33;
    position: relative;
    bottom: -5em;
    z-index: -1 !important;
}

.description {
    text-align: right;
}

.footer-content {
    align-items: center;
    margin: auto;
    width: 50%;
    text-align: center;
}

.footer-content p {
    text-align: center;
    line-height: 0.5;
}

.header img {
    width: 200px;
    justify-self: flex-start;
}

.header li {
    margin-right: 50px;
}

.header a {
    margin: 10px;
    text-decoration: none;
    color: #003E52; 
}

.header a:hover {
    color: #6cadc2;
}

.header ul {
    display: flex;
    list-style-type: none;
}

.map {
    width: 100%;
}

.menu {
    display: flex;
    width: 100%;
}

.menu-detail {
    justify-content: center;
    flex-direction: column;
    margin: 2% 0 2% 25%;
}

.menu-detail h2 {
    border-bottom: solid;
    text-align: center;
    padding-bottom: 20px;
}

.menu-detail h4, p {
    text-align: justify;
}

.slider, .main-img img, .footer-img img{
    width: 100%;
}

